.courses, .tags{

	ul{
		list-style-type: none;
		padding: 0;
	}

	li{
		margin: .5rem 0;
		color: $primary;
		cursor: pointer;
	}

	li:hover{
		text-decoration: underline;
		color: $secondary;
	}

}

.tags li:hover{
	text-decoration: none;
}

.tags li .badge{
	font-size: 100%;
}

.courses > *{
	margin: 1rem 0;
	font-family: sans-serif;
}

.course{
	
	table{
		width: auto;
	}

	td:first-child{
		padding-left: 0;
	}

}