
.curriculum{
	.topics, .term{
		display: grid;
	}

	.topics{
		margin-bottom: 1rem;
	}
	
	.number{
		grid-column: 1;
	}

	.term{
		padding: .5rem;
	}

	.term:nth-child(odd){
		background-color: map-get($grays, "200");
	}

	.spacer:not(:nth-child(2)){
		height: 4rem;
	}
}
