
.curriculum{
	.topics, .term{
		display: grid;
		padding: .5rem;
	}

	.term{
		grid-auto-flow: column;
	}

	.topics{
		margin-bottom: 1rem;
	}

	.number, .topic{
		font-weight: bold;
		font-family: sans-serif;
	}

	.number{
		grid-column: 1;
	}

	.term:nth-child(odd){
		background-color: map-get($grays, "200");
	}

	.spacer:not(:nth-child(2)){
		height: 4rem;
	}

	.add-course{
		display: none;
		color: $primary;
	}

	.term:hover .add-course{
		display: initial;
	}
}
