
.curriculum{
	.topics, .term{
		display: grid;
		padding: .5rem;
	}

	.term{
		grid-auto-flow: column;
	}

	.topics{
		margin-bottom: 1rem;
	}

	.number, .topic{
		font-weight: bold;
		font-family: sans-serif;
	}

	.number{
		grid-column: 1;
	}

	.term:nth-child(odd){
		background-color: map-get($theme-colors, "light");
	}

	.spacer:not(:nth-child(2)){
		height: 4rem;
	}

	.add-course{
		display: none;
		color: $primary;
	}

	.term:hover .add-course{
		display: initial;
	}

	.term.total, .total{
		background-color: map-get($theme-colors, "gray");
	}

	.term > .total{
		margin: -0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media print{
	.term:hover .add-course{
		display: none !important;
	}

	a{
		text-decoration: none !important;
	}

	.spacer:not(:nth-child(2)){
		height: 1px !important;
		border-top: 1px solid black;
		padding-top: 2rem;
		margin-top: 2rem;
	}
}
