
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Others
@import "navbar";
@import "list-unstyled";
@import "curriculum";
@import "courses";
@import "dashboard";
@import "term";

.container, .container-fluid{
	margin-top: 2rem;
}

.fullheight-spread{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: calc(100vh - 133.2px - 2rem);
}

form{
	font-family: sans-serif;
}

.cohort-grid{
	display: grid;
}

table label{
	margin: 0;
}

a:not([href]){
	cursor: pointer;
}

p > a, .underline{
	text-decoration: underline !important;
}

.list-group-icons a{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.color-circle{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	box-shadow: 1px 1px 5px 0px #ccc;
}

small .color-circle{
	height: 15px;
	width: 15px;
	box-shadow: 1px 1px 3px 0px #ccc;
}